body {
  font-size: 13px;
}

#progress-bar {
  background-color: #50C2E8;
  height: 20px;
  width: 0;
}

.search-result {
  cursor: pointer;
  height: 100px;
  margin-bottom: 2px;
  overflow-y: scroll;
}

.search-result-image {
  float: left;
  height: 100px;
  margin-right: 5px;
}

.queue-image {
  float: left;
  height: 75px;
  width: 75px;
  margin-right: 5px;
}

.deemphasize {
  color: #999;
}

.track-link {
  color: black;
  font-size: 11px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
