html {
  min-height: 100%;
  position: relative;
}

html, body, .container-fluid {
  font-size: 13px;
  height: 100%;
}

.row-eq-height {
  display: table;
  height: 100%;
}

.row-eq-height > [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.search-result {
  cursor: pointer;
  height: 100px;
  margin-bottom: 2px;
  overflow-y: scroll;
}

.search-result-image {
  float: left;
  height: 100px;
  margin-right: 5px;
}

.queue-image {
  float: left;
  height: 75px;
  width: 75px;
  margin-right: 5px;
}


#queue {
  background-color: WhiteSmoke;
}

.deemphasize {
  color: #999;
}

.track-link {
  color: black;
  font-size: 11px;
}
