<!DOCTYPE html>
<html lang="en" ng-app="consensus" data-framework="typescript">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="generated/output.js" defer></script>
  <script src="//www.youtube.com/iframe_api" defer></script>

  <link rel="icon" href="favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="generated/output.css">
</head>
<body class="ng-cloak" hidden>
<div class="container-fluid">

  <div ng-controller="QueueController as queueCtrl">
    <div class="row">
      <div class="col-xs-12">
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="queueCtrl.state.listening" ng-change="queueCtrl.listen()"> Listen
        </label>
      </div>
    </div>

    <div id="queue" class="row">
      <div ng-repeat="song in queueCtrl.queue">
        <div class="col-xs-3">
          <div hidden>{{song.id}}</div>
          <div hidden>{{song.url}}</div>
          <div ng-switch="song.source">
            <span ng-switch-when="0">SoundCloud</span>
            <span ng-switch-when="1">YouTube</span>
            <span ng-switch-when="2">Spotify</span>
          </div>
          <div>{{song.name}}</div>
          <div>{{song.creator}}</div>
          <button type="button"
                  class="btn btn-default"
                  ng-click="queueCtrl.upvote(song.id)"
                  bs-tooltip
                  data-title="wtf"
                  data-container="body"
                  data-content-template="upvotes.html">
            upvote
            <span class="badge">{{song.upvotes.length}}</span>
          </button>
          <button type="button"
                  class="btn btn-default"
                  ng-click="queueCtrl.downvote(song.id)">
            downvote
            <span class="badge">{{song.downvotes.length}}</span>
          </button>
          <div ng-show="$first">
            progress: {{queueCtrl.playState.progress}}
          </div>
        </div>
      </div>
    </div>

  </div>


  <div ng-controller="SearchController as searchCtrl">

    <div class="row">
      <div class="col-xs-12">
        <form>
          <input type="text"
                 placeholder="Search for a track"
                 class="form-control"
                 id="search"
                 ng-model="searchCtrl.search"
                 ng-model-options="{getterSetter: true, updateOn: 'default', debounce: {'default': 200}}"/>
        </form>
      </div>
    </div>

    <div id="results" class="row">

      <div id="soundcloud-results" class="col-xs-4">
        <blockquote>SoundCloud</blockquote>
        <div ng-repeat="result in searchCtrl.soundCloudResults" class="row search-result">
          <div class="col-xs-12" ng-click="searchCtrl.enqueueSC(result)">
            <img ng-src="{{result.artwork_url || result.user.avatar_url}}" class="search-result-image"/>
            <div class="deemphasize">{{result.user.username}}</div>
            <div>{{result.title}}</div>
            <div>{{result.duration | humanizeDuration}}</div>
            <div><a href="{{result.permalink_url}}" target="_blank" ng-click="$event.stopPropagation();">link</a></div>
          </div>
        </div>
      </div>

      <div id="youtube-results" class="col-xs-4">
        <blockquote>Youtube</blockquote>
        <div ng-repeat="result in searchCtrl.youtubeResults" class="row search-result">
          <div class="col-xs-12" ng-click="searchCtrl.enqueueYT(result)">
            <img ng-src="{{result.snippet.thumbnails.default.url}}" class="search-result-image"/>
            <div class="deemphasize">{{result.snippet.channelTitle}}</div>
            <div>{{result.snippet.title}}</div>
            <div><a href="//youtube.com/watch?v={{result.id.videoId}}" target="_blank" ng-click="$event.stopPropagation();">link</a></div>
          </div>
        </div>
      </div>

      <div id="spotify-results" class="col-xs-4">
        <blockquote>Spotify</blockquote>
        <div ng-repeat="result in searchCtrl.spotifyResults" class="row search-result">
          <div class="col-xs-12" ng-click="searchCtrl.enqueueSpotify(result)">
            <img ng-src="{{result.album.images[1].url}}" class="search-result-image"/>
            <div class="deemphasize">{{result.album.name}}</div>
            <div>{{result.artists[0].name}} - {{result.name}}</div>
            <div>{{result.duration_ms | humanizeDuration}}</div>
            <div><a href="{{result.external_urls.spotify}}" target="_blank" ng-click="$event.stopPropagation();">link</a></div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<script type="text/ng-template" id="upvotes.html">
  <div ng-repeat="upvote in song.upvotes">
    <div>{{upvote}}</div>
  </div>
</script>
<script type="text/ng-template" id="downvotes.html">
  <div ng-repeat="downvote in song.downvotes">
    <div>{{downvote}}</div>
  </div>
</script>

<iframe id="spotify-player" src="#" hidden></iframe>
<div hidden>
  <div id="player"></div>
</div>


<footer class="footer">
  <span>
    For Spotify playback support install the
    <a href="//chrome.google.com/webstore/detail/spotify-remote/boidmjchelicgoeabcpblhboklbillbi">
      spotify remote
    </a>
    extension.
  </span>
  <span>
    <a href="//github.com/theyelllowdart/consensus">GitHub</a>
  </span>
</footer>

</body>
</html>
